{% extends "layout.html" %}
{% block content%}

<!--
<form id="imageUploader" action="/multipart-form/" enctype="multipart/form-data" method="post">
    <label for="files">Select a picture</label>
    <input name="files" type="file" accept="image/png, image/jpeg">
    <label for="name">Type your name</label>
    <input name="name" value="Arthur">
    <label for="code">Type your code</label>
    <input name="code" value="32">
    <input id="btnUploadAvatar" type="submit">
</form>-->

<body class="parent">
    <box>
        {%include "registerComponent.html"%}
    </box>
    <box>
        {%include "uploadComponent.html"%}
    </box>

</body>

<script src="/static/register/register.js"></script>

<style>
    .parent {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    box {
        min-width: 200px;
        max-width: 90vw;
    }

    button {
        margin: 0.5rem;
        padding: 0.5rem;
    }

    @media (min-width:600px) {
        box {
            min-width: 400px;
            max-width: 90vw;
        }

        button {
            margin: 1rem;
            padding: 1rem;
        }
    }
</style>

{% endblock content%}